<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Change Password</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#/dashboard">Home</a></li>
            <li class="breadcrumb-item active">Change Password</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Change Password</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form name="changePasswordForm" ng-submit="changePassword()" novalidate>
              <div class="card-body">
                <div class="col-md-8 offset-md-2 align-self-center">
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-md-3 col-form-label">Current Pasword</label>
                    <div class="col-md-9">
                      <input type="password" name="currentPassword" ng-model="formData.currentPassword"
                      class="form-control" placeholder="Current Password" ng-required="true"
                      ng-pattern="/^[a-zA-Z0-9$@$!%*#?&]*$/" ng-minLength="6"
                      ng-class="(changePasswordForm.currentPassword.$dirty || changePasswordForm.currentPassword.$touched)?((changePasswordForm.currentPassword.$invalid)?1:2):0|validationClass">
                      <div class="invalid-feedback"
                        ng-show="(changePasswordForm.currentPassword.$dirty || changePasswordForm.currentPassword.$touched)  && changePasswordForm.currentPassword.$error.required">
                        Current password can not be empty.</div>
                      <div class="invalid-feedback"
                        ng-show="(changePasswordForm.currentPassword.$dirty || changePasswordForm.currentPassword.$touched) && changePasswordForm.currentPassword.$error.pattern">
                        Current password can not contain invalid characters.</div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-md-3 col-form-label">New Pasword</label>
                    <div class="col-md-9">
                      <input type="password" name="newPassword" ng-model="formData.newPassword"
                        class="form-control" placeholder="New Password" ng-required="true"
                        ng-pattern="/^[a-zA-Z0-9$@$!%*#?&]*$/" ng-minLength="6"
                        ng-class="(changePasswordForm.newPassword.$dirty || changePasswordForm.newPassword.$touched)?((changePasswordForm.newPassword.$invalid)?1:2):0|validationClass">
                      <div class="invalid-feedback"
                        ng-show="(changePasswordForm.newPassword.$dirty || changePasswordForm.newPassword.$touched)  && changePasswordForm.newPassword.$error.required">
                        New password can not be empty.</div>
                      <div class="invalid-feedback"
                        ng-show="(changePasswordForm.newPassword.$dirty || changePasswordForm.newPassword.$touched)  && changePasswordForm.newPassword.$error.minlength">
                        New password should be atleast 6 character long.</div>
                      <div class="invalid-feedback"
                        ng-show="(changePasswordForm.newPassword.$dirty || changePasswordForm.newPassword.$touched) && changePasswordForm.newPassword.$error.pattern">
                        New password can not contain invalid characters.</div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-md-3 col-form-label">Confirm Pasword</label>
                    <div class="col-md-9"><input type="password" name="confirmPassword"
                        ng-model="formData.confirmPassword" class="form-control"
                        placeholder="Confirm Password" ng-required="true" compare-to="formData.newPassword"
                        ng-class="(changePasswordForm.confirmPassword.$dirty || changePasswordForm.confirmPassword.$touched)?((changePasswordForm.confirmPassword.$invalid)?1:2):0|validationClass">
                      <div class="invalid-feedback"
                        ng-show="(changePasswordForm.confirmPassword.$dirty || changePasswordForm.confirmPassword.$touched)  && changePasswordForm.confirmPassword.$error.required">
                        Confirm password can not be empty.</div>
                      <div class="invalid-feedback"
                        ng-show="(changePasswordForm.confirmPassword.$dirty || changePasswordForm.confirmPassword.$touched) && changePasswordForm.confirmPassword.$error.compareTo">
                        Confirm password does not match.</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="offset-md-3 col-md-9 text-center mt-1 mb-3">
                      <p ng-class="formFeedback.class" style="margin: 0px;">{{ formFeedback.message }}</p>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <div class="row justify-content-end">
                      <button type="submit" class="btn btn-primary"
                      ng-disabled="(changePasswordForm.$pristine || changePasswordForm.$invalid) || disabledSChangePasswordButtonElement"
                      ng-bind-html="changePasswordButtonElement">Change Password</button>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>