<div class="login-box">
	<div class="login-logo">
		<b>Stock</b>Market
	</div>
	<!-- /.login-logo -->
	<div class="card">
		<div class="card-body login-card-body">
			<p class="login-box-msg">Sign in to start your session</p>

			<form ng-submit="authAttempt()" name="loginForm" novalidate>
				<div class="input-group mb-3">
					<input type="email" name="email" ng-model="credential.email" class="form-control" placeholder="Email"
						ng-required="true" autocomplete=""
						ng-class="(loginForm.email.$dirty || loginForm.email.$touched)?((loginForm.email.$invalid)?1:2):0|validationClass">
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-envelope"></span>
						</div>
					</div>
					<div class="invalid-feedback"
						ng-show="(loginForm.email.$dirty || loginForm.email.$touched) && loginForm.email.$error.required">Email can
						not be empty.</div>
					<div class="invalid-feedback"
						ng-show="(loginForm.email.$dirty || loginForm.email.$touched) && loginForm.email.$error.email">Please enter
						valid email id.</div>
				</div>
				<div class="input-group mb-3">
					<input type="password" name="password" ng-model="credential.password" class="form-control"
						placeholder="Password" ng-required="true" ng-pattern="/^[a-zA-Z0-9$@$!%*#?&]*$/"
						ng-class="(loginForm.password.$dirty || loginForm.password.$touched)?((loginForm.password.$invalid)?1:2):0|validationClass">
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-lock"></span>
						</div>
					</div>
					<div class="invalid-feedback"
						ng-show="(loginForm.password.$dirty || loginForm.password.$touched)  && loginForm.password.$error.required">
						Password can not be empty.</div>
					<div class="invalid-feedback"
						ng-show="(loginForm.password.$dirty || loginForm.password.$touched) && loginForm.password.$error.pattern">
						Password can not contain invalid characters.</div>
				</div>
				<div class="row mb-3">
					<div class="col-12">
						<div class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" id="customCheckbox1" ng-model="credential.rememberMe">
							<label for="customCheckbox1" class="custom-control-label">Remember me </label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 text-center">
						<p ng-class="formFeedback.class" ng-show="formFeedback.showable">{{ formFeedback.message }}</p>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-12 ">
						<button type="submit" class="btn btn-primary btn-block btn-flat"
							ng-disabled="(loginForm.$pristine || loginForm.$invalid) || disabledLoginButtonElement"
							ng-bind-html="loginButtonElement">Sign In</button>
					</div>
				</div>
			</form>

			<div class="row mb-1">
				<div class="col-12 text-right">
					<a ng-href="#find-account">Forgot password?</a>
				</div>
			</div>
		</div>
		<!-- /.login-card-body -->
	</div>
</div>
<!-- /.login-box -->