<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Price Adjustment</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#/dashboard">Home</a></li>
            <li class="breadcrumb-item active">Price Adjustment</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Price Adjustment</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form name="priceAdjustmentForm" ng-submit="adjustPrice()" novalidate>
              <div class="card-body">
                <div class="col-md-8 offset-md-2 align-self-center">
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-md-3 col-form-label">Scrip</label>
                    <div class="col-md-9">
                      <select class="form-control" style="width: 100%;" name="scrip" ng-model="formData.scripId" ng-required="true">
                        <option value="" disabled selected>Select scrips</option>
                        <option ng-repeat="scrip in scrips " value="{{ scrip.id }}">{{ scrip.name }}</option>
                      </select>
                      <div class="invalid-feedback" style="display: block;"
                        ng-show="(priceAdjustmentForm.scrip.$dirty || priceAdjustmentForm.scrip.$touched) && priceAdjustmentForm.scrip.$error.required">
                        Please select any one scrip.</div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-md-3 col-form-label">Bonus/Split</label>
                    <div class="col-md-9">
                      <select class="form-control" style="width: 100%;" name="priceAdjustmentType" ng-model="formData.priceAdjustmentType" ng-required="true">
                        <option value="1">Bonus</option>
                        <option value="2">Split</option>
                        <option value="3">Bonus-Reverse</option>
                        <option value="4">Split-Reverse</option>
                      </select>
                      <div class="invalid-feedback" style="display: block;"
                        ng-show="(priceAdjustmentForm.priceAdjustmentType.$dirty || priceAdjustmentForm.priceAdjustmentType.$touched) && priceAdjustmentForm.priceAdjustmentType.$error.required">
                        Please select any one price adjustment type.</div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-md-3 col-form-label">Ratio</label>
                    <div class="col-md-4">
                      <input type="number" class="form-control" name="numerator" ng-model="formData.numerator" placeholder="Numerator" ng-required="true"
                        allow-numbers-only>
                        
                      <div class="invalid-feedback" style="display: block;"
                      ng-show="(priceAdjustmentForm.numerator.$dirty || priceAdjustmentForm.numerator.$touched) && priceAdjustmentForm.numerator.$error.required">
                      Numerator can not be empty.</div>
                    </div>
                    <div class="col-md-1 mt-1 text-center">
                      /
                    </div>
                    <div class="col-md-4">
                      <input type="number" class="form-control" name="denominator" ng-model="formData.denominator" placeholder="Denominator" ng-required="true" 
                        allow-numbers-only>
                        
                      <div class="invalid-feedback" style="display: block;"
                      ng-show="(priceAdjustmentForm.denominator.$dirty || priceAdjustmentForm.denominator.$touched) && priceAdjustmentForm.denominator.$error.required">
                      Denominator can not be empty.</div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-md-3 col-form-label">Date</label>
                    <div class="col-md-9">
                        <input type="date" name="date" ng-model="formData.date" class="form-control" ng-required="true">
                        <div class="invalid-feedback" style="display: block;"
                          ng-show="(priceAdjustmentForm.date.$dirty || priceAdjustmentForm.date.$touched) && priceAdjustmentForm.date.$error.required">
                          Date can not be empty.</div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="offset-md-3 col-md-9 text-center mt-2">
                        <p ng-class="formFeedback.class" style="margin: 0px;">{{ formFeedback.message }}</p>
                      </div>
                    </div>
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <div class="row justify-content-end">
                    <button type="submit" class="btn btn-primary"
                    ng-disabled="(priceAdjustmentForm.$pristine || priceAdjustmentForm.$invalid) || disabledAdjustPriceButtonElement"
                    ng-bind-html="adjustPriceButtonElement">Adjust Price</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>