<div class="login-box">
	<div class="login-logo">
		<b>Stock</b>Market
	</div>
	<!-- /.login-logo -->
	<div class="card">
		<div class="card-body login-card-body">
			<p class="login-box-msg">Set New Password </p>

			<form ng-submit="setNewPassword()" name="setNewPasswordForm" novalidate>
				<div class="input-group mb-3">
					<input class="form-control" type="text" name="otp" ng-model="setNewPasswordFormData.otp" allow-numbers-only
						class="form-control" placeholder="Six digit otp" ng-minLength="6" ng-maxLength="6" ng-required="true"
						ng-class="(setNewPasswordForm.otp.$dirty || setNewPasswordForm.otp.$touched)?((setNewPasswordForm.otp.$invalid)?1:2):0|validationClass">
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-key"></span>
						</div>
					</div>
					<div class="invalid-feedback"
						ng-show="(setNewPasswordForm.otp.$dirty || setNewPasswordForm.otp.$touched) && setNewPasswordForm.otp.$error.required">
						otp can not be empty.</div>
					<div class="invalid-feedback"
						ng-show="(setNewPasswordForm.otp.$dirty || setNewPasswordForm.otp.$touched) &&  (setNewPasswordForm.otp.$error.maxlength || setNewPasswordForm.otp.$error.minlength)">
						otp must be six digit.</div>
				</div>
				<div class="input-group mb-3">
					<input type="password" name="password" ng-model="setNewPasswordFormData.password" class="form-control"
						placeholder="Password" ng-required="true" ng-pattern="/^[a-zA-Z0-9$@$!%*#?&]*$/" ng-minLength="6"
						ng-class="(setNewPasswordForm.password.$dirty || setNewPasswordForm.password.$touched)?((setNewPasswordForm.password.$invalid)?1:2):0|validationClass">
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-lock"></span>
						</div>
					</div>
					<div class="invalid-feedback"
						ng-show="(setNewPasswordForm.password.$dirty || setNewPasswordForm.password.$touched)  && setNewPasswordForm.password.$error.required">
						Password can not be empty.</div>
					<div class="invalid-feedback"
						ng-show="(setNewPasswordForm.password.$dirty || setNewPasswordForm.password.$touched)  && setNewPasswordForm.password.$error.minlength">
						Password should be atleast 6 character long.</div>
					<div class="invalid-feedback"
						ng-show="(setNewPasswordForm.password.$dirty || setNewPasswordForm.password.$touched) && setNewPasswordForm.password.$error.pattern">
						Password can not contain invalid characters.</div>
				</div>
				<div class="input-group mb-3">
					<input type="password" name="confirmPassword" ng-model="setNewPasswordFormData.confirmPassword"
						class="form-control" placeholder="Confirm Password" ng-required="true"
						compare-to="setNewPasswordFormData.password"
						ng-class="(setNewPasswordForm.confirmPassword.$dirty || setNewPasswordForm.confirmPassword.$touched)?((setNewPasswordForm.confirmPassword.$invalid)?1:2):0|validationClass">
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-lock"></span>
						</div>
					</div>
					<div class="invalid-feedback"
						ng-show="(setNewPasswordForm.confirmPassword.$dirty || setNewPasswordForm.confirmPassword.$touched)  && setNewPasswordForm.confirmPassword.$error.required">
						Confirm Password can not be empty.</div>
					<div class="invalid-feedback"
						ng-show="(setNewPasswordForm.confirmPassword.$dirty || setNewPasswordForm.confirmPassword.$touched) && setNewPasswordForm.confirmPassword.$error.compareTo">
						Password does not match.</div>
				</div>
				<div class="row">
					<div class="col-12 text-center">
						<p ng-class="formFeedback.class" ng-show="formFeedback.showable">{{ formFeedback.message }}</p>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-12 ">
						<button type="submit" class="btn btn-primary btn-block btn-flat"
							ng-disabled="(setNewPasswordForm.$pristine || setNewPasswordForm.$invalid) || disabledSetNewPasswordButtonElement"
							ng-bind-html="SetNewPasswordButtonElement">Set New Password</button>
					</div>
				</div>
			</form>

			<div class="row">
				<div class="col-12 text-right">
					<p>Did not get otp? <a ng-href="#find-account">Resend</a></p>
				</div>
			</div>
		</div>
		<!-- /.login-card-body -->
	</div>

</div>
<!-- /.login-box -->