<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Update Profile</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#/dashboard">Home</a></li>
            <li class="breadcrumb-item"><a href="#/view-profile">View Profile</a></li>
            <li class="breadcrumb-item active">Update Profile</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Update Profile</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form name="updateProfileForm" ng-submit="updateProfile()" novalidate>
              <div class="card-body">
                <div class="col-md-8 offset-md-2 align-self-center">
                  <div class="form-group row mb-4">
                    <label for="inputEmail3" class="col-md-3 col-form-label">Name</label>
                    <div class="col-md-9">
                      <input type="text" name="name" ng-model="formData.name" class="form-control" placeholder="Name"
                        ng-required="true" ng-pattern="/^[a-zA-Z0-9$@$!%*#?&\s]*$/"
                        ng-class="(updateProfileForm.name.$dirty || updateProfileForm.name.$touched)?((updateProfileForm.name.$invalid)?1:2):0|validationClass">
                      <div class="invalid-feedback"
                        ng-show="(updateProfileForm.name.$dirty || updateProfileForm.name.$touched)  && updateProfileForm.name.$error.required">
                        Profile name can not be empty.</div>
                      <div class="invalid-feedback"
                        ng-show="(updateProfileForm.name.$dirty || updateProfileForm.name.$touched) && updateProfileForm.name.$error.pattern">
                        Profile name can not contain invalid characters.</div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-md-3 col-form-label">Scrip</label>
                    <div class="col-md-9">
                      <select class="form-control select2" ng-model="formData.scripIds" name="scripIds"
                        style="width: 100%;" multiple="multiple" size="10" ng-required="true">
                        <option value="" disabled selected>Select scrips</option>
                        <option ng-repeat="scrip in scrips" value="{{ scrip.id }}">{{ scrip.name }}</option>
                      </select>
                      <div class="invalid-feedback"
                        ng-show="(updateProfileForm.scripIds.$dirty || updateProfileForm.scripIds.$touched)  && updateProfileForm.scripIds.$error.required">
                        Select any one scrip.</div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-9 offset-md-3 text-center">
                      <p ng-class="formFeedback.class" ng-show="formFeedback.showable">{{ formFeedback.message }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <div class="row justify-content-end">
                  <button type="submit" class="btn btn-primary"
                    ng-disabled="(updateProfileForm.$pristine || updateProfileForm.$invalid) || disabledUpdateProfileButtonElement"
                    ng-bind-html="updateProfileButtonElement">Update Profile</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>